.popup-container{
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 1rem;
   background: var(--color6-t);
   z-index: 1;
}
.popup-content{
   background: var(--color6);
   animation: .3s openPopUp;
}
.popup-content .popup-title{
   padding: 1rem;
   background: var(--color1);
   color: var(--color4);
}
.popup-content .popup-msg{
   margin: 2rem 1rem;
}

.popup-content .button-container{
   display: flex;
   gap: 1rem;
   justify-content: center;
   margin: 1rem;
}
.popup-content .button-container button{
   outline: none;
   border: none;
   padding: .5rem 1rem;
   border-radius: .5rem;
   min-width: 7rem;
   transition: .2s;
   cursor: pointer;
}
.popup-content .button-container button:hover{
   transform: scale(1.035);
}
.popup-content .button-container .btn-cancel{
   background: var(--color4);
}
.popup-content .button-container .btn-accept{
   color:var(--color5);
   background: var(--color2);
}

/*
-------------Animations
*/
@keyframes openPopUp{
   0%{
      transform: scale(1.1)
   }
   50%{
      transform: scale(.95)
   }
   75%{
      transform: scale(1.07)
   }
   100%{
      transform: scale(1);
   }
}