.menu-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: .5rem 1.5rem;
   height: 4rem;
   background: var(--dark1);
   color: var(--light1);
}

.menu-container .logo-container{
   display: flex;
   gap: .5rem;
   justify-content: center;
   align-items: center;
   font-size: 1.5rem;
   color: var(--light1);
}

.menu-container .logo-container svg{
   height: 3rem;
}

.menu-container .menu-content{
   display: flex;
   align-items: center;
}

#labelMenuBars, #menuBars{
   display: none;
}

.menu-container .menu-content .menu-list{
   display: flex;
   align-items: center;
   gap: 1rem;
}