.card-container{
   padding: 1rem 10%;
   background: var(--color2);
   background-image: linear-gradient(90deg, var(--color2), var(--color2-d));
   min-height: calc(100vh - 4rem);
   user-select: none;
}

.card-container .title-voting-booth{
   padding: 0 1rem;
   text-align: center;
   color: var(--color5);
   border-radius: 1rem;
}

.card-container .subtitle-voting-booth{
   text-align: center;
   margin-bottom: 1rem;
   color: var(--color4);
}

.card-container .card-list{
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
}

 .card-list .card-item{
   transition: .2s;
   display: flex;
   gap: 1.5rem;
   align-items: center;
   padding: 1rem;
   color: var(--color5);
   background: var(--color1);   
   border-radius: .5rem;
   cursor: pointer;
   overflow: hidden;
}

.card-list .card-item:hover{
   transform: translateY(-.13rem);
}

.card-list .card-item .profile-item{
   border-radius: .5rem;
   overflow: hidden;
   min-width: 5rem;
   min-height: 5rem;
   max-width: 5rem;
   max-height: 5rem;
}

.card-list .card-item .profile-item img{
   transition: .2s;
   width: 5rem;
   height: 5rem;
}

.card-list .card-item:hover .profile-item img{
   transform: scale(1.1);
}

.card-list .card-item .voting-check{
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 3rem;
   min-height: 3rem;
   margin-left: auto;
   width: 3rem;
   height: 3rem;
   font-size: 2.5rem;
   color: var(--color2);
   background: var(--color5);
   border-radius: .5rem;
}

@media screen and (max-width: 43rem){

   .card-container{
      padding: 1rem;
   }

   .card-container .title-voting-booth{
      font-size: 1.6rem;
   }

   .card-list .card-item .voting-check{
      width: 2.5rem;
      height: 2.5rem;
      min-width: 2.5rem;
      min-height: 2.5rem;
      font-size: 1.7rem;

   }
}