@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

:root{

    --color1: #262626;
    --color2: #4F8C58;
    --color2-d: #396d62;
    --color3: #f73628;
    --color4: #F29F05;
    --color5: #e6e6e6;
    --color6: #3a3a3a;
    --color5-t: rgba(230, 230, 230, 0.7);
}

body {
  font-size: 1rem;
}

input{
  border: none;
  outline: none;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.disabled{
  display: none;
}
